.main-catalog {
    width: 100%;
    height: 550px;
    background: url("./catalog-img/catalog-banner.png") center no-repeat;
    background-size: cover;
}

.container {
    min-width: 1250px;
    margin: 0 auto;
}

/*-----navigation--------*/
.navigation {
    margin-bottom: 20px;
}

.ant-anchor {
    display: flex;
}
.navigation img {
    margin-left: 10px;
}
.ant-affix {
    background: #9e9393;
    opacity: 50%;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.ant-anchor-link-active > .ant-anchor-link-title {
    color: #1890ff;
    font-variant: tabular-nums;
}

/*------banner--------*/

.banner-catalog {
    width: 100%;
    height: 461px;
}
.banner-catalog h1 {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    color: #FFFEFA;
    margin-top: 130px;
}


/*------catalog-------*/
.items {
    margin-top: 120px;
}



.block {
    cursor: pointer;
    padding: 8px 0;
    margin-top: 60px;
    width: 270px;
    height: 298px;
    background: #F3F2F2;
    border: 1px solid rgba(196, 196, 196, 0.5);
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.block__img {
    margin-top: 20px;
}

.block__title {
    width: 270px;
    height: 84px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 0.5);
    box-sizing: border-box;
    border-radius: 25px;
    margin-bottom: -10px;
}
.title__des {
    margin-top: 15px;
}
.title__des h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #847E7E;
}
.title__des p{
    max-width: 160px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.05em;
    color: #847E7E;
}

.price {
    color: #FDDB16;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.ant-pagination  {
    display: flex;
    justify-content: center;
    /*width: 25px;*/
    /*height: 25px;*/
    margin: 30px 0 !important;
}


