.swiper{
    max-width: 904px;
}
.swiper-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-left, .arrow-right{
    width: 30px;
    height: auto;
    color: red;
}

.arrow-right{
    transform: rotate(180deg);
}