.product-details {
  width: 230px;
  height: 122px;
  margin-left: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.product-details:hover img{
  transform: scale(1.1);
}
.details p{
  margin-bottom: 0em;
}
.all_product_details {
  display: flex;
  margin-top: 40px;
}

.date {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #847e7e;
  margin-top: 13px;
}
.new__era {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #847e7e;
}
.product-details .title {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.05em;
  color: #847e7e;
}

.money {
  margin-top: 20px;
  color: #fddb16;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: end;
}

