@mixin custom-underline(
  $color,
  $underline-color,
  $hover-color,
  $hover-underline-color,
  $bg-color
) {
  color: $color;
  text-decoration: none;
  // Underline via gradient background
  background-image: linear-gradient($underline-color 0%, $underline-color 100%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 100%;
  // Tweak position + thickness for high res (1.75x and up) displays
  @media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
    background-image: linear-gradient(
      $underline-color 0%,
      $underline-color 100%
    );
    background-position: 0 100%;
  }
  // Clear descendors from underline
  text-shadow: 2px 0.5px $bg-color, 1px 0.5px $bg-color, -1px 0.5px $bg-color,
    -2px 0.5px $bg-color, 2px 0 $bg-color, 1px 0 $bg-color, -1px 0 $bg-color,
    -2px 0 $bg-color, 2px -0.5px $bg-color, 1px -0.5px $bg-color,
    -1px -0.5px $bg-color, -2px -0.5px $bg-color;
  &:hover {
    text-decoration: none;
    color: $hover-color;
    background-image: linear-gradient(
      to bottom,
      $hover-underline-color 0%,
      $hover-underline-color 100%
    );
  }
  // Style selected links (or else text-shadow makes it look crazy ugly)
  // Pseudo selectors must go separately, or they break each other
  &,
  > * {
    &::selection {
      text-shadow: none;
    }
    &::-moz-selection {
      text-shadow: none;
    }
  }
}

@mixin remove-custom-underline {
  color: auto;
  background-image: none;
  text-shadow: none;
}

// Variables
$loupeIcon: "../../assets/images/loupe-icon.svg";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 135px 62px;
  padding-bottom: 18px;
  border-bottom: 1px solid #847e7e;
}

.left-bar {
  display: flex;
  align-items: center;

  &__inner {
    margin-right: 105px;
  }
}

.logo-kepka {
  width: 5.5rem;
}

.center-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    margin-right: 105px;
    &:last-child {
      margin-right: 0;
    }

    a {
      font-size: 18px;
      font-weight: 700;
      color: #555252;
    }

    a.active {
      @include custom-underline(#555252, #555252, #555252, #555252, #fff);
    }
  }
}

.right-bar {
  display: flex;
  align-items: center;

  .searchWrapp {
    margin-right: 62px;
  }
  .search {
    width: 100%;
    padding: 11px 10px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    background: url($loupeIcon) no-repeat 92% center;

    &:focus {
      color: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}

.active-navlink {
  @include custom-underline(#555252, #555252, #555252, #555252, #fff);
}
