*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  padding: 20px 35px;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  background: #FDDB16;
  border: none;
  border-radius: 20px;
}
